html, body, #root{
  width: 100%;    /*要素の横幅を画面いっぱいにする*/
  height: 100%;   /*要素の高さを画面いっぱいにする*/
  margin: 0;      /*要素の外側余白を0にする*/
  padding: 0;     /*要素の内側余白を0にする*/
  overflow: hidden;
}

.selection-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 上から配置 */
  height: 100vh;               /* 画面全体に */
  width: 100vw;                /* 横幅も画面いっぱい */
  background-color: #fff8e7;
  text-align: center;
  margin: 0;                    /* 余白なし */
  padding: 0;                   /* 余白なし */
  box-sizing: border-box;       /* 内側のサイズ調整も含める */
  background-color: #e0f7fa;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 100%;  
  height: auto;
}

.selection-background h1 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #333;
}

.mode-button {
  width: 80%;
  padding: 15px 20px;
  margin: 10px 0;
  font-size: 1.2rem;
  border-radius: 12px;
  border: none;
  background-color: #add8e6;
  cursor: pointer;
  transition: all 0.2s ease;
}

.mode-button:hover {
  background-color: #87ceeb;
  transform: scale(1.05);
}

.decide-button {
  width: 180px;
  height: 50px;
  bottom: 10px; 
  font-size: 1.2rem;
  border-radius: 12px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
  transition: all 0.2s ease;
}

.decide-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}