html, body, #root{
  width: 100%;    /*要素の横幅を画面いっぱいにする*/
  height: 100%;   /*要素の高さを画面いっぱいにする*/
  margin: 0;      /*要素の外側余白を0にする*/
  padding: 0;     /*要素の内側余白を0にする*/
  overflow: hidden;
}

.Title-Background{
  height: 100vh;
  background-image: url('./images/primaryschool-mathstudy-TitleBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center; /* 横中央 */
  align-items: center;     /* 縦中央 */
}

.Title{
  font-size:50px;
}

.Daigo{
  font-size: 30px;
  color: white;
  text-align: center;
  transition: opacity 1s, transform 1s;
  opacity: 1;
}

.fade-out {
  opacity: 0;
  transform: scale(0.8); /* 少し縮小 */
}

.texts {
  color: white;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1rem;
  opacity: 0;              /* 最初は非表示 */
  transition: opacity 1s, transform 1s;
}

.texts.visible {
  opacity: 1;
  transform: translateY(0);
}

.texts.hidden {
  opacity: 0;
  transform: translateY(10px);
}